.date {
  width: 100px;
  max-height: 100px;
  padding: 16px 0;
  margin-left: 15px;
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(173, 180, 180, 0.24);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(216, 216, 216, 0.5)
    ),
    linear-gradient(to bottom, #fff, #fff);
  display: flex;
  float: left;
}

.number {
  width: 100px;
  height: 68px;
  font-size: 56px;
  font-weight: 800;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b4b;
}

.horizontal-line {
  border-top: 1px solid #000;
  width: 100%;
  top: 50%;
  position: relative;
  opacity: 0.5;
  box-shadow: 0 -1px 3px 1px #000;
  border: solid 1px #979797;
  display: flex;
  flex-direction: row;
}

.vertical-line {
  border-left: 4px solid #000;
  height: 9px;
}

.all-lines {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  font-size: 12px;
  text-transform: uppercase;
  width: 101px;
  height: 17px;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  color: #f4f4f4;
}

@media screen and (max-width: 450px) {
  .date {
    width: 40px;
    max-height: 40px;
    padding: 6px 0;
  }
  .number {
    width: 40px;
    height: 30px;
    font-size: 20px;
    line-height: 1.21;
  }
  .vertical-line {
    border-left: 3px solid #000;
    height: 4px;
  }
  .subtitle {
    font-size: 6px;
  }
}
